H1 {
  font-family: Verdana,Arial,Helvetica;
  font-weight: bold;
  text-decoration: none;
  color: #224466;
  font-size: large;

  background-color: #D0D0D0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

  border-width: thin;
  border-color: #808080;
  border-style: solid;
}

H2 {
  font-family: Arial,Helvetica;
  font-weight: bold;
  text-decoration: none;
  color: #336699;
  font-size: medium;

  background-color: #E0E0F0;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 5px;

  border-width: thin;
  border-color: #A0A0B0;
  border-style: solid;
}

BODY {
  font-family: Arial,Helvetica;
  text-align: justify;
}

P {
  font-family: Arial,Helvetica;
  padding-left: 5px;
}

DD {
  font-family: Arial,Helvetica;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}

DT {
  font-family: Arial,Helvetica;
  font-weight: bold;
  text-decoration: none;
  color: #336699;
  padding-left: 5px;
}

UL > LI > A {
  font-family: Arial,Helvetica;
  font-weight: bold;
  color: #336699;
  text-decoration: none;
}

A { text-decoration: none; }

A:hover {
  background-color: #D0D0F0;
}

TABLE.verbatim {
  width: 100%;
  border-width: thin;
  border-color: #C0B0B0;
  border-style: solid;
  border-left: none;
  border-right: none;
  background-color: #FFF0F0;
}

TD.verbatim {
  padding: 8px;
}

PRE.verbatim {
  font-family: Courier
}
